p {
    color: blue;
    font-size: 16px;
}
body {
  background-color: #386e80;
  background-image: url('public/assets/Fondo pagina.jpg');
  background-size: cover;
  background-position: center;
  color: rgb(148, 47, 47);
  height: 100vh;
  margin: 0;
  padding: 0; 
}

.footer-social-icons img {
  margin-right: 15px;
  width: 40px; 
  height: auto;
  display: inline-block; 
}

.footer-social-icons img:last-child {
  margin-right: 0;
}

  