p {
    color: blue;
    font-size: 16px;
}
body {
    background-color: #8989bd; /* Fondo azul oscuro */
    color: white; /* Color de letra blanco */
  }
  .navbar {
    font-style: italic; /* Letra cursiva en la barra de navegación */
  }

  .carousel-item img {
    width: 100%;
    height: auto;
  }