body {
    background-color: #add8e6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #120303;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .images-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .images-section img {
    width: 30%;
  }
  
  .articles-section {
    margin-top: 20px;
  }
  
  .articles-section article {
    margin-bottom: 20px;
  }
  
  .articles-section h2 {
    color: #333;
  }
  
  .footer {
    background-color: #428188;
    color: white;
    padding: 50px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .column {
    flex: 1;
    margin: 0 20px;
  }
  
  .column h3 {
    color: #fff;
    margin-bottom: 15px;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .social-icons li {
    margin-right: 10px;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
  }
  